.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = yield :form_title
  .panel-body
    = simple_form_for(@product) do |f|
      = f.error_notification

      .form-inputs
        = f.input :name
        = f.input :description
        = f.input :price

      .form-actions
        = f.button :submit, class: 'btn btn-default'
        = link_to t('cancel'), products_path, class: 'btn'
